/* WEB FONT 2016.12.28 */

html[lang=zh-HK] .more::after,
html[lang=zh-HK] .more .icon-htc,
html[lang=zh-HK] .icon-downloadsolid::before,
html[lang=zh-HK] .icon-downloadsolid::after,
html[lang=zh-HK] .icon-chevronright::before,
html[lang=zh-HK] .icon-chevronright::after {
    position: relative;
    top: -1.5px;
}

.icon-playcircle:before,
.icon-playcircle:after {
    top: -1px;
}

html[lang=zh-HK] .more.arrowicon_top::before,
html[lang=zh-HK] .more.arrowicon_top::after,
html[lang=zh-HK] .more.arrowicon_top .icon-htc {
    top: 0px;
}
html[lang=zh-HK] span.badge-half.seven{ margin-left:-0.1em; }


html[lang=zh-HK] #ac-globalfooter .ac-gf-more::after,
html[lang=zh-HK] #ac-globalfooter .ac-gf-more .icon-htc{top:-1px;}

/* center align large and medium */
html[lang=zh-HK] .centeralign { padding-left: 0.4em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centeralign { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centeralign { padding-left: 0; } }

/* center align all */
html[lang=zh-HK] .centerall { padding-left: 0.4em; }

html[lang=zh-HK] #ac-globalfooter .centerall { padding-left: 0.6em; }

/* center align , large and medium  0.4em , small 0.3*/
html[lang=zh-HK] .centerall_43 { padding-left: 0.4em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centerall_43 { padding-left: 0.3em; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centerall_43 { padding-left: 0.3em;  } }

/* center align medium  and small */
@media only screen and (max-width: 1068px) { html[lang=zh-HK] .centerms { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centerms { padding-left: 0.4em; } }

/* center align small only */
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centersmall { padding-left: 0.4em; } }

/* center align for bigger font-size large and medium  0.5em */
html[lang=zh-HK] .centeralign_05 { padding-left: 0.5em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centeralign_05 { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centeralign_05 { padding-left: 0; } }


/* center align for bigger font-size large and medium  0.6em */
html[lang=zh-HK] .centeralign_06 { padding-left: 0.6em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centeralign_06 { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centeralign_06 { padding-left: 0; } }

/* center align for all font-size large and medium small  0.6em */
html[lang=zh-HK] .centerall_06 { padding-left: 0.6em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centerall_06 { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centerall_06 { padding-left: 0.4em; } }

/* center align for bigger font-size large and medium  0.6em */
html[lang=zh-HK] .centerall_09 { padding-left: 1em; }
@media only screen and (max-width: 735px) { html[lang=zh-HK] .centerall_09 { padding-left: 0.9em;  } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-HK] .centerall_09 { padding-left: 0.9em;  } }


/* <br> 在不同 viewport 的 换行 Show & Hide */
@media only screen and (max-width: 735px) {html[lang=zh-HK] br.hide-for-small {display: none}}

@media only screen and (max-width: 1024px) {html[lang=zh-HK] br.hide-for-medium {display: none}}

html[lang=zh-HK] br.hide-for-large {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-HK] br.hide-for-large {display: block}}


@media only screen and (max-width: 735px) {html[lang=zh-HK] br.show-for-small {display: block}}

@media only screen and (max-width: 320px) {html[lang=zh-HK] br.hide-for-xsmall {display: none}}

@media only screen and (max-width: 1024px) {html[lang=zh-HK] br.show-for-medium {display: block}}

html[lang=zh-HK] br.show-for-large {display: block}


html[lang=zh-HK] br.show-only-for-small {display: none}
@media only screen and (max-width: 735px) {html[lang=zh-HK] br.show-only-for-small {display: block}}

html[lang=zh-HK] br.show-only-for-medium {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-HK] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 1068px) {html[lang=zh-HK] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 735px) {html[lang=zh-HK] br.show-only-for-medium {display: none}}

html[lang=zh-HK] br.show-only-for-large {display: block}
@media only screen and (max-width: 1024px) {html[lang=zh-HK] br.show-only-for-large {display: none}}
@media only screen and (max-width: 1068px) {html[lang=zh-HK] br.show-only-for-large {display: none}}
@media only screen and (max-width: 735px) {html[lang=zh-HK] br.show-only-for-large {display: none}}

br.show-only-for-xsmall {display: none}
@media only screen and (max-width: 320px) and (max-device-width: 375px) {html[lang=zh-HK] br.show-only-for-xsmall {display: block}}


html[lang=zh-HK] br.small-hide {display: none}
html[lang=zh-HK] br.small-show {display: block}

@media only screen and (min-width: 736px) {
html[lang=zh-HK] br.medium-hide {display: none}
html[lang=zh-HK] br.medium-show {display: block}}

@media only screen and (min-width: 1069px) {
html[lang=zh-HK] br.large-hide {display: none}
html[lang=zh-HK] br.large-show {display: block}}

@media only screen and (min-width: 1442px) {
html[lang=zh-HK] br.xlarge-hide {display: none}
html[lang=zh-HK] br.xlarge-show {display: block}}


/* <br> 在不同 viewport 的 换行 Show & Hide End*/
/* certer all */
html[lang=zh-HK] .cl_00{
	padding-left: 0em;
}
html[lang=zh-HK] .cl_01{
	padding-left: 0.1em;
}
html[lang=zh-HK] .cl_015{
	padding-left: 0.15em;
}
html[lang=zh-HK] .cl_02{
	padding-left: 0.2em;
}
html[lang=zh-HK] .cl_025{
	padding-left: 0.25em;
}
html[lang=zh-HK] .cl_03{
	padding-left: 0.3em;
}
html[lang=zh-HK] .cl_035{
	padding-left: 0.35em;
}
html[lang=zh-HK] .cl_04{
	padding-left: 0.4em;
}
html[lang=zh-HK] .cl_045{
	padding-left: 0.45em;
}
html[lang=zh-HK] .cl_05{
	padding-left: 0.5em;
}
html[lang=zh-HK] .cl_055{
	padding-left: 0.55em;
}
html[lang=zh-HK] .cl_06{
	padding-left: 0.6em;
}
html[lang=zh-HK] .cl_065{
	padding-left: 0.65em;
}
html[lang=zh-HK] .cl_07{
	padding-left: 0.7em;
}
html[lang=zh-HK] .cl_075{
	padding-left: 0.75em;
}
html[lang=zh-HK] .cl_08{
	padding-left: 0.8em;
}
html[lang=zh-HK] .cl_085{
	padding-left: 0.85em;
}
html[lang=zh-HK] .cl_09{
	padding-left: 0.9em;
}
html[lang=zh-HK] .cl_095{
	padding-left: 0.95em;
}
html[lang=zh-HK] .cl_100{
	padding-left: 1em;
}

@media only screen and (max-width: 1068px) {
	html[lang=zh-HK] .cm_00{
		padding-left: 0em;
	}
	html[lang=zh-HK] .cm_01{
		padding-left: 0.1em;
	}
	html[lang=zh-HK] .cm_015{
		padding-left: 0.15em;
	}
	html[lang=zh-HK] .cm_02{
		padding-left: 0.2em;
	}
	html[lang=zh-HK] .cm_025{
		padding-left: 0.25em;
	}
	html[lang=zh-HK] .cm_03{
		padding-left: 0.3em;
	}
	html[lang=zh-HK] .cm_035{
		padding-left: 0.35em;
	}
	html[lang=zh-HK] .cm_04{
		padding-left: 0.4em;
	}
	html[lang=zh-HK] .cm_045{
		padding-left: 0.45em;
	}
	html[lang=zh-HK] .cm_05{
		padding-left: 0.5em;
	}
	html[lang=zh-HK] .cm_055{
		padding-left: 0.55em;
	}
	html[lang=zh-HK] .cm_06{
		padding-left: 0.6em;
	}
	html[lang=zh-HK] .cm_065{
		padding-left: 0.65em;
	}
	html[lang=zh-HK] .cm_07{
		padding-left: 0.7em;
	}
	html[lang=zh-HK] .cm_075{
		padding-left: 0.75em;
	}
	html[lang=zh-HK] .cm_08{
		padding-left: 0.8em;
	}
	html[lang=zh-HK] .cm_085{
		padding-left: 0.85em;
	}
	html[lang=zh-HK] .cm_09{
		padding-left: 0.9em;
	}
	html[lang=zh-HK] .cm_095{
		padding-left: 0.95em;
	}
	html[lang=zh-HK] .cm_100{
		padding-left: 1em;
	}
}
@media only screen and (max-width: 734px) {
	html[lang=zh-HK] .cs_00{
		padding-left: 0em;
	}
	html[lang=zh-HK] .cs_01{
		padding-left: 0.1em;
	}
	html[lang=zh-HK] .cs_015{
		padding-left: 0.15em;
	}
	html[lang=zh-HK] .cs_02{
		padding-left: 0.2em;
	}
	html[lang=zh-HK] .cs_025{
		padding-left: 0.25em;
	}
	html[lang=zh-HK] .cs_03{
		padding-left: 0.3em;
	}
	html[lang=zh-HK] .cs_035{
		padding-left: 0.35em;
	}
	html[lang=zh-HK] .cs_04{
		padding-left: 0.4em;
	}
	html[lang=zh-HK] .cs_045{
		padding-left: 0.45em;
	}
	html[lang=zh-HK] .cs_05{
		padding-left: 0.5em;
	}
	html[lang=zh-HK] .cs_055{
		padding-left: 0.55em;
	}
	html[lang=zh-HK] .cs_06{
		padding-left: 0.6em;
	}
	html[lang=zh-HK] .cs_065{
		padding-left: 0.65em;
	}
	html[lang=zh-HK] .cs_07{
		padding-left: 0.7em;
	}
	html[lang=zh-HK] .cs_075{
		padding-left: 0.75em;
	}
	html[lang=zh-HK] .cs_08{
		padding-left: 0.8em;
	}
	html[lang=zh-HK] .cs_085{
		padding-left: 0.85em;
	}
	html[lang=zh-HK] .cs_09{
		padding-left: 0.9em;
	}
	html[lang=zh-HK] .cs_095{
		padding-left: 0.95em;
	}
	html[lang=zh-HK] .cs_100{
		padding-left: 1em;
	}
}

/* 隐藏符号距离 */
.hide-symbol {
		margin-right: -0.4em;
}

.hide-symbol.l0 {
		margin-right: 0em;
}

.hide-symbol.l1 {
		margin-right: -0.1em;
}

.hide-symbol.l2 {
		margin-right: -0.2em;
}

.hide-symbol.l3 {
		margin-right: -0.3em;
}

.hide-symbol.l4 {
		margin-right: -0.4em;
}

.hide-symbol.l5 {
		margin-right: -0.5em;
}

.hide-symbol.l6 {
		margin-right: -0.6em;
}

.hide-symbol.l7 {
		margin-right: -0.7em;
}

.hide-symbol.l8 {
		margin-right: -0.8em;
}

.hide-symbol.l9 {
		margin-right: -0.9em;
}

.hide-symbol.l10 {
		margin-right: -1em;
}

@media only screen and (max-width: 1068px) {
		.hide-symbol.m0 {
				margin-right: 0em;
		}
		.hide-symbol.m1 {
				margin-right: -0.1em;
		}
		.hide-symbol.m2 {
				margin-right: -0.2em;
		}
		.hide-symbol.m3 {
				margin-right: -0.3em;
		}
		.hide-symbol.m4 {
				margin-right: -0.4em;
		}
		.hide-symbol.m5 {
				margin-right: -0.5em;
		}
		.hide-symbol.m6 {
				margin-right: -0.6em;
		}
		.hide-symbol.m7 {
				margin-right: -0.7em;
		}
		.hide-symbol.m8 {
				margin-right: -0.8em;
		}
		.hide-symbol.m9 {
				margin-right: -0.9em;
		}
		.hide-symbol.m10 {
				margin-right: -1em;
		}
}

@media only screen and (max-width: 734px) {
		.hide-symbol.s0 {
				margin-right: 0em;
		}
		.hide-symbol.s1 {
				margin-right: -0.1em;
		}
		.hide-symbol.s2 {
				margin-right: -0.2em;
		}
		.hide-symbol.s3 {
				margin-right: -0.3em;
		}
		.hide-symbol.s4 {
				margin-right: -0.4em;
		}
		.hide-symbol.s5 {
				margin-right: -0.5em;
		}
		.hide-symbol.s6 {
				margin-right: -0.6em;
		}
		.hide-symbol.s7 {
				margin-right: -0.7em;
		}
		.hide-symbol.s8 {
				margin-right: -0.8em;
		}
		.hide-symbol.s9 {
				margin-right: -0.9em;
		}
		.hide-symbol.s10 {
				margin-right: -1em;
		}
}

/* Ignore punctuation */

.headline-center-l{
	position: absolute;
}

@media only screen and (max-width: 1068px) {
	.headline-center-m{
		position: absolute;
	}
}

@media only screen and (max-width: 734px) {
	.headline-center-s{
		position: absolute;
	}
}

/* half space */
.gc-half-space {
    font-size: 0.5em;
}

/* Abbreviation - Ignore punctuation */
.l-p {
	position: absolute;
}

@media only screen and (max-width: 1068px) {
	.m-p {
		position: absolute;
	}
}

@media only screen and (max-width: 734px) {
	.s-p {
		position: absolute;
	}
}

.l-rp {
	position: static;
}

@media only screen and (max-width: 1068px) {
	.m-rp {
		position: static;
	}
}

@media only screen and (max-width: 734px) {
	.s-rp {
		position: static;
	}
}
/* fixed icon */
.icon-wrapper .icon, .icon-wrapper .more:not(.icon-before)::after, .icon-wrapper .icon-before::before, .icon-wrapper .icon-after::after {
    position: relative;
}